<div class="tips__details">
    <div class="tips__details__description">
        <div class="tips__details__description__hero">
        <h1>{{tip.name}}</h1>
        <ul>
            <li>{{tip.category}}</li>
        </ul>
                <p>{{tip.address}}
        </p>
        </div>
        <hr>
        <div class="tips__details__description__info">
            <div class="tips__details__description__review">
                <div class="tips__details__author">
                    <img src="{{tip.author.avatar}}" alt="" class="tips__details__author__avatar">
                    <h3>Tip by {{tip.author.name}}</h3>
                </div>
                <p>{{tip.description}}</p>
                <a href="{{tip.website}}" class="tips__details__description__link">Link to {{tip.name}}'s website</a>
            </div>
        </div>
    </div>
    <div class="tips__details__image">
        <img src="{{tip.photo}}" alt="Tip picture" class="tips__details__photo">
    </div>
</div>