<div class="profile">
    <h1>Your profile page</h1>

                    <div class="tips__details__author">
                    <img src="../img/user-1.svg" alt="" class="tips__details__author__avatar">
                    <h3>{{user.name}}</h3>
                </div>
<h3>E-Mail</h3>
<p>{{user.email}}
</p>

<h3>Your tips</h3>
<div class="tips">
    {{#each tips}}
        <a href="/tips/{{this._id}}"><div class="tips__item">
        <div class="tips__item__title">{{this.category}}</div>
        <img src="img/cat_{{this.category}}.png" alt="" class="tips__item__image">
       <div class="tips__item__name">{{this.name}}</div>
    </div></a>
    {{/each}}
</div>
</div>

