<div class="profile">

    <div class="profile__author">
        <img src="{{user.avatar}}" alt="profile picture" class="profile__author__avatar">
        <div class="profile__author__details">
            <h1>{{user.name}}'s profile page</h1>
            <h3>{{user.email}}</h3>
        </div>
    </div>

    <section class="profile__avatar__upload">
        <hr>
        <h2>Upload your photo</h2>
        <form action="/passport/profile" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" class="profile__fileinput">
            <input type="submit" value="Upload" class="profile__uploadbtn">
        </form>
        <hr>
    </section>

    <h2>Your tips</h2>
    <div class="profile__tips">
        {{#each tips}}
        <div class="tips__item">
            <div class="tips__item__title">{{this.category}}</div>
            <img src="{{this.photo}}" alt="" class="tips__item__image">
            <div class="tips__item__name">{{this.name}}</div>
            <div class="profile__tips__options">
                <a href="/tips/{{this._id}}/edit" class="profile__tips__options_btn">Edit tip</a>
                {{!-- <a href="#" class="profile__tips__options_btn">Delete tip</a> --}}
                <form action="/tips/{{this._id}}/delete" method="post">
                    <input type="submit" value="Delete tip" class="profile__tips__options_btn">
                </form>
            </div>
        </div>
        {{/each}}
    </div>
    {{!-- <div class="profile__delete">
        <a href="#" class="profile__delete__btn">Delete your account</a>
    </div> --}}
</div>