
<h1>Login or registration failed!</h1> 

{{ error_msg }}

{{!-- <ul>
{{#each errors}}
<li>{{ this.errors }}</li>
{{/each}}
</ul> --}}

{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}
